
<div class="container mb-3 mt-3">
  <div >
    <form (submit)="retrieveSongs(); $event.preventDefault()" [formGroup]="retrievalForm">

      <div class="d-flex align-items-center gap-3 mb-3">
        <div class="form-group">
          <label for="artist">Artist:</label>
          <input
            id="artist"
            name="querySongId"
            pInputText
            class="form-control"
            placeholder="Artist"
            [formControl]="filterForm.controls.artist"
          />
        </div>
        <div>
          <label for="album">Album:</label>
          <input
            id="album"
            name="querySongId"
            type="text"
            pInputText
            class="form-control"
            placeholder="Album"
            [formControl]="filterForm.controls.album_name"
          />

        </div>
        <div>
          <label for="title">Song Title:</label>
          <input
            id="title"
            name="querySongId"
            type="text"
            pInputText
            class="form-control"
            placeholder="Song title"
            [formControl]="filterForm.controls.song_title"
          />
        </div>
      </div>

      <div class="form-group mb-3">
        <p-dropdown
          [options]="dropdownValues()"
          optionLabel="name"
          optionValue="value"
          placeholder="Select a Song"
          [formControl]="retrievalForm.controls.songId"
          [virtualScroll]="true"
          [virtualScrollItemSize]="40"
        />
      </div>

      <label>
        Pick retrieval systems:
      </label>

      <div class="d-flex flex-row gap-3 mb-3 mt-3">
        @for (category of categories; track category.key) {
          <div>
            <p-checkbox
              [inputId]="category.key"
              name="category"
              [value]="category.key"
              [formControl]="retrievalForm.controls.retrievalSystem"
            />
            <label [for]="category.key" class="ms-1">
              {{ category.name }}
            </label>
          </div>
        }
      </div>

      @if (false) {
        <div class="form-group mb-3">
          <label for="querySongId">Query Song ID:</label>
          <input
            [formControl]="retrievalForm.controls.songId"
            [value]="retrievalForm.controls.songId"
            type="text"
            id="querySongId"
            class="form-control"
            name="querySongId"
            placeholder="Enter query song ID"
            required
          />
        </div>
      }

      <div class="form-group mb-3">
        <label class="mb-3">
          Number of Songs to Retrieve: <b>{{retrievalForm.controls.count.value}}</b>
        </label>

        <p-slider [formControl]="retrievalForm.controls.count" [min]="10" [max]="100"></p-slider>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="isLoading() || !this.retrievalForm.controls.songId.value || !this.retrievalForm.controls.count.value"
      >
        Retrieve Songs
      </button>


    </form>

    <button
      class="btn btn-primary mt-3 mb-3"
      [disabled]="isLoading()"
      (click)="recommenderService.resetRecommendations()"
    >
      Clear Results
    </button>
  </div>

</div>
