<div class="m-3">
  <div>
    <form (submit)="retrieveSongs(); $event.preventDefault()" [formGroup]="retrievalForm">

      <!-- Text Inputs and Dropdown in a Row -->
      <div class="d-flex align-items-center gap-3 mb-3 flex-wrap">
        <div class="form-group">
          <label for="artist">Artist:</label>
          <input
            id="artist"
            name="querySongId"
            pInputText
            class="form-control"
            placeholder="Artist"
            [formControl]="filterForm.controls.artist"
          />
        </div>
        <div class="form-group">
          <label for="album">Album:</label>
          <input
            id="album"
            name="querySongId"
            type="text"
            pInputText
            class="form-control"
            placeholder="Album"
            [formControl]="filterForm.controls.album_name"
          />
        </div>
        <div class="form-group">
          <label for="title">Song Title:</label>
          <input
            id="title"
            name="querySongId"
            type="text"
            pInputText
            class="form-control"
            placeholder="Song title"
            [formControl]="filterForm.controls.song_title"
          />
        </div>
        <div class="form-group">
          <label for="dropdown">Song Selection:</label>
          <p-dropdown
            id="dropdown"
            [options]="dropdownValues()"
            optionLabel="name"
            optionValue="value"
            placeholder="Select a Song"
            [formControl]="retrievalForm.controls.songId"
            [virtualScroll]="true"
            [virtualScrollItemSize]="40"
          ></p-dropdown>
        </div>
      </div>

      <!-- Checkbox Filters -->
      <div class="form-group mb-3">
        <label>Pick retrieval systems:</label>
        <div class="d-flex flex-wrap gap-3 mt-3">
          @for (category of categories; track category.key) {
            <div class="d-flex align-items-center">
              <p-checkbox
                [inputId]="category.key"
                name="category"
                [value]="category.key"
                [formControl]="retrievalForm.controls.retrievalSystem"
              ></p-checkbox>
              <label [for]="category.key" class="ms-1">
                {{ category.name }}
              </label>
            </div>
          }
        </div>
      </div>

      <!-- Diversity Checkbox -->
      <div class="d-flex align-items-center gap-3 mb-3">
        <p-checkbox formControlName="diversity" binary="true"></p-checkbox>
        <label class="ms-1">Optimize results for diversity</label>
      </div>

      <!-- Slider for Number of Songs -->
      <div class="form-group mb-3">
        <label>
          Number of Songs to Retrieve: <b>{{ retrievalForm.controls.count.value }}</b>
        </label>
        <p-slider [formControl]="retrievalForm.controls.count" [min]="10" [max]="100"></p-slider>
      </div>

      <!-- Buttons -->
      <div class="d-flex gap-3">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="isLoading() || !this.retrievalForm.controls.songId.value || !this.retrievalForm.controls.count.value"
        >
          Retrieve Songs
        </button>
        <button
          type="button"
        class="btn btn-secondary"
        [disabled]="isLoading()"
        (click)="recommenderService.resetRecommendations()"
        >
        Clear Results
        </button>

        <div>
          <p-checkbox formControlName="showMetrics" binary="true" (onChange)="displayMetrics()"></p-checkbox>
          <label class="ms-1">Display Metrics</label>
        </div>
      </div>


    </form>
  </div>
</div>
